<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In & Sign Up Forms</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    <div id="error"></div> 
    <div class="container">
        <div class="form-container sign-in-container">
            <form>
                <h1>Sign In</h1>
                <input type="username" name="username" id="username" placeholder="Username" required />
                <div class="password-container">
                    <input type="password" placeholder="Password" id="password" name="password" class="password-input" required />
                    <button type="button" class="toggle-password">Show</button>
                </div>
                <div class="remember-me-container">
                    <input type="checkbox" id="rememberMe" />
                    <label for="rememberMe">Remember Me</label>
                </div>
                <a href="#">Forgot your password?</a>
                <button type="button" onclick="signin_request()">Sign In</button>
            </form>
        </div>
        <div class="form-container sign-up-container">
            <form>
                <h1>Create Account</h1>
                <input type="text" id="uname" placeholder="Name" required />
                <input type="email" id="email" placeholder="Email" required />
                <div class="password-container">
                    <input type="password" id="psw" placeholder="Password" required class="password-input" />
                    <button type="button" class="toggle-password">Show</button>
                </div>
                <div class="password-container">
                    <input type="password" id="confirm-psw" placeholder="Confirm Password" required class="password-input" />
                    <button type="button" class="toggle-password">Show</button>
                </div>
                <ul class="password-rules">
                    <li id="length"     class="invalid"  >At least 8 characters           </li>
                    <li id="uppercase"  class="invalid"  >At least one uppercase letter   </li>
                    <li id="lowercase"  class="invalid"  >At least one lowercase letter   </li>
                    <li id="number"     class="invalid"  >At least one number             </li>
                </ul>
                <button type="button" onclick="signup_request()">Sign Up</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start your journey with us</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <div id="hidden-user" style="visibility: hidden;">{{user}}</div>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    
    <script>
        io().emit('send_logout_request', { user: document.getElementById("hidden-user").textContent });
    </script>
    
    <script src="/static/js/data-requests.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>
