.profile-container{
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    width: 300px;
    height: 70px
}

.name-container{
    display: flex;
}

h2{
    margin-top: -0.5px;
    margin-left: 10px;
}

.pfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin: 40px 35px;
    border: 1px lightgray solid;
}

.side-container{
    margin-top: 15px;
    width: 300px;
    height: 800px;
    border-right: 1px black solid;
}

.typing{
    overflow: hidden;
    animation: typing 3s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 19px }
}

.chats{
    display: flex;
}

.chat-search{
    width: 90%;
    border: none;
    border-bottom: 1px black solid;
}

.chat-search:focus{
    outline: none;
}

.users-container{
    display: flex;
    flex-direction: column;
    
}

.users-container button{
    margin-top: 15px;
}

button {
    background: none;
    border: none;
    display: flex;
    width: 100%;
    height: 100%;
}

button:hover{
    background-color: #ddd;
}

.t312{
    display: flex;
    flex-direction: column;
}

.t313{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 50%;
}

.settings{
    color: gray;
    background: none;
    border: none;
    text-decoration: none;
}


.logout-btn{
    background: none;
    color: gray;
    border: none;
}

.logout-btn:hover{
    background: none;
}

.chat-container{
    position: absolute; 
    height: 90%;
    margin: -890px 350px;
    width: 50%;
    border: 1px black solid;
}

.chat-container .messages-container{
    width: 97.7%;
    height: 87%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto; /* Allows for vertical scrolling if content exceeds height */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chat-container .input-container{
    display: flex;
}

.chat-container .input-container input{
    width: 95%;
    border: 1px gray solid;
    border-radius: 50px;
    margin-left: 5px;
}

.chat-container .input-container input:focus{
    outline: none;
}

.chat-container .input-container button{
    border-radius: 50px;
    width: 50px;
    height: 25px;
    align-items: center;
    color: white;
    background-color:darkturquoise;
    margin-left: 5px;
}

.chat-container .input-container button div{
    margin-left: 3px
}


.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    max-width: 70%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.timestamp {
    color: #999;
    font-size: 0.8em;
}

.person {
    font-weight: bold;
}

.person1 {
    color: blue;
}

.person2 {
    color: green;
}

.text {
    color: #333;
}

.input-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

#chat-message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
}

#file-input {
    display: none;
}


.user-profile-container{
    position: absolute;
    margin-left: 1400px;
    margin-top: -47%;
    width: 20%;
    border: 1px black solid;
    align-items: center;
    text-align: center;
    height: 90.5%;
    visibility: hidden;
}

.user-profile-container .user-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
}

.user-profile-container .line{
    width: 80%;
    height: 0;
    border-top: 1px black solid;
    margin: 50px 40px;
}

.user-profile-container .user-info-container h1{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.user-profile-container .user-info-container h4{
    font-size: 16px;
    color: #666;
    margin: 0;
}

.user-profile-container .user-info-container img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5px;
}

.time{
    text-align: center;
    color: gray;
}